<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom ">
        <div class="container-fluid">
            <div class="row">
                <div class="part1 col-xs-2 col-xs-offset-1">
                    <p id="contact" class="navbar-text">Contact
                        <a href="mailto:mail@gmail.com">
                            <span class="glyphicon glyphicon-envelope envelope" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
                <div class="part2 col-xs-5 col-xs-offset-2">
                    <p id="realisation" class="navbar-text">Site réalisé par les élèves de la
                        <a class="school" href="http://www.wildcodeschool.fr/" target="_blank">Wild Code School
                            <img class="logoSchool" src="../assets/img/elementsPages/wild.png" alt="school logo"/></a>
                    </p>
                </div>
                <div class="part3 col-xs-1 col-xs-offset-1 ">
                    <p id="credits" class="navbar-text">Crédit
                        <a href="" data-toggle="modal" data-target="#modalCredits">
                            <span class="glyphicon glyphicon-user credits" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <!-- Modal Credit -->
    <div class="modal fade" id="modalCredits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content container-fluid">
                <h3 class="text-center">L'équipe de Développement</h3><br>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <a href="https://fr.linkedin.com/in/adrien-floor-23b9bb129" target="_blank"><img src="../assets/img/elementsPages/adrien.jpg" alt="" class="img-circle img-responsive"></a>
                    </div>
                </div><br>
                <h4 class="text-center">Adrien Floor</h4><br>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-3">
                        <p>
                            <a class="" target="_blank" href="https://fr.linkedin.com/in/adrien-floor-23b9bb129"><img src="../assets/img/elementsPages/linkedin-logo.png" alt="linkedin"/></a>
                            Linkedin
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p>
                            <a class="" target="_blank" href="https://github.com/AdrienFloor"><img src="../assets/img/elementsPages/github-logo.png" alt="github"/></a>
                            Github
                        </p>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <a href="https://fr.linkedin.com/in/pierre-gaillard-088a1594/en" target="_blank"><img src="../assets/img/elementsPages/pierre.jpg" alt="" class="img-circle img-responsive"></a>
                    </div>
                </div><br>
                <h4 class="text-center">Pierre Gaillard</h4><br>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-3">
                        <p>
                            <a class="" target="_blank" href="https://fr.linkedin.com/in/pierre-gaillard-088a1594/en"><img src="../assets/img/elementsPages/linkedin-logo.png" alt="linkedin"/></a>
                            Linkedin
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p>
                            <a class="" target="_blank" href="https://github.com/pierregaillard1986"><img src="../assets/img/elementsPages/github-logo.png" alt="github"/></a>
                            Github
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <a href="https://fr.linkedin.com/in/johan-helias/en" target="_blank"><img src="../assets/img/elementsPages/johan.jpg" alt="" class="img-circle img-responsive"></a>
                    </div>
                </div><br>
                <h4 class="text-center">Johan Hélias</h4><br>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-3">
                        <p>
                            <a class="" target="_blank" href="https://fr.linkedin.com/in/johan-helias/en"><img src="../assets/img/elementsPages/linkedin-logo.png" alt="linkedin"/></a>
                            Linkedin
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p>
                            <a class="" target="_blank" href="https://github.com/medaak"><img src="../assets/img/elementsPages/github-logo.png" alt="github"/></a>
                            Github
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <a href="https://fr.linkedin.com/in/benjamin-hoeffler-49ba01128/en" target="_blank"><img src="../assets/img/elementsPages/benjamin.jpg" alt="" class="img-circle img-responsive"></a>
                    </div>
                </div><br>
                <h4 class="text-center">Benjamin Hoeffler</h4><br>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-3">
                        <p>
                            <a class="" target="_blank" href="https://fr.linkedin.com/in/benjamin-hoeffler-49ba01128/en"><img src="../assets/img/elementsPages/linkedin-logo.png" alt="linkedin"/></a>
                            Linkedin
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p>
                            <a class="" target="_blank" href="https://github.com/theben67"><img src="../assets/img/elementsPages/github-logo.png" alt="github"/></a>
                            Github
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
