<div class="pageLogin">
    <div class="blocMainLogin">
        <div class="sousBloc1 col-xs-8 col-xs-offset-4">
            <h2>Connexion à Happy Rythme</h2>
            <form class="col-xs-10 col-xs-offset-1">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" ng-model='vm.email' ng-required='true' placeholder="Adresse mail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" ng-model='vm.password' ng-required='true' placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn btn-default" ng-click='vm.login()' ng-disabled="formConnect.$invalid">Se connecter</button>
                <div ng-show="(vm.loginMessage)" class="alert" ng-class="{'alert-danger': vm.loginMessage.type == 'error', 'alert-success': vm.loginMessage.type == 'connection validée', 'alert-info': vm.loginMessage.type == 'info'}">
                    <h4><span class="glyphicon glyphicon-exclamation-sign pull-left"></span>&nbsp;{{vm.loginMessage.title}}</h4>
                </div>
            </form>
        </div>
        <div class="paragrapheLogin col-xs-12">
          <p>
            Pour avoir un compte et vous connecter, adressez-vous à l'administrateur du site.<br> Tèl: 06123456789 Mail: p.l.ledru@gmail.com
          </p>
        </div>
    </div>
</div>
