<div class="pageLogin">
    <div class="bloc1 col-lg-6 col-lg-offset-3">
        <div class="sousBloc1 col-lg-8 col-lg-offset-4">
            <h2>Connexion à Happy Rythme</h2>
            <form class="col-lg-10 col-lg-offset-1">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" ng-model='vm.email' ng-required='true' placeholder="Adresse eMail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" ng-model='vm.password' ng-required='true' placeholder="Mot de passe temps">
                </div>
              <button  type="submit" class="btn btn-default" ng-click='vm.login()' ng-disabled="formConnect.$invalid" >Se connecter</button>
              <div ng-show="(vm.loginMessage)" class="alert" ng-class="{'alert-danger': vm.loginMessage.type == 'error', 'alert-success': vm.loginMessage.type == 'connection validée', 'alert-info': vm.loginMessage.type == 'info'}">
                  <h4><span class="glyphicon glyphicon-exclamation-sign pull-left"></span>&nbsp;{{vm.loginMessage.title}}</h4>
                  <p>{{vm.loginMessage.message}}</p>
              </div>
            </form>
        </div>
        <p>
            Pour avoir un compte et vous connecter, adressez-vous à l'administrateur du site.
        </p>
    </div>
</div>
