<div class="container">
    <div class="bloc1">
        <div class="row">
            <div class="col-md-5">
                <a href="#!/dashboard">
                    <button type="button" class="btn btn-default retourDashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Tableau de bord</button>
                </a>
            </div>
            <div class="col-md-2">
                <img src="./assets/img/elementsPages/ourson.png" alt="ourson"/>
            </div>
        </div>
    </div>
    <div class="bloc2">
        <div class="row">
            <div class="col-md-8 col-md-offset-4 paragrapheOurson">
                <h1>Pierre</h1>
                <p>Nomme, décrit et compose les exercices grâce aux outils ci-dessous.</p>
            </div>
        </div>
    </div>
    <div class="container grosBloc col-md-6 col-md-offset-3">
        <div class="formulaire col-md-9 col-md-offset-3">
            <h2>Création d'une partition</h2>
            <div class="caracteristiquePartition">
                <form class="form-horizontal col-md-11 col-md-offset-1">
                    <div class="form-group">
                        <input id="textinput" ng-model='score.nameScore' name="textinput" placeholder="NOM DE L'EXERCICE" class="form-control input-md" type="text">
                    </div>
                    <div class="form-group">
                        <select id="selectLevel" ng-model='score.levelScore' name="selectbasic" class="form-control">
                            <option value="" disabled>NIVEAU DE L'EXERCICE</option>
                            <option value="1">Facile</option>
                            <option value="2">Intermédiaire</option>
                            <option value="3">Expert</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="textinput" ng-model='score.tempoScore' name="textinput" placeholder="TEMPO" class="form-control input-md" type="text">
                    </div>
                    <div class="form-group">
                        <textarea id="textarea" class="form-control" ng-model='score.wordingScore' name="textarea">ENONCE DE L'EXERCICE DIT PAR LE PANDA</textarea>
                    </div>
                    <button ng-click='vm.scoreCreate(score)' class="btn btn-default">Créer l'exercice</button>
                </form>
            </div>
        </div>
    </div>
</div>
