<div class="container">
    <div class="bloc1">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <img src="./assets/img/elementsPages/ourson.png" alt="ourson"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <a href="#!/dashboard">
                    <button style="margin-left:-50px" type="button" class="btn btn-default retourDashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Tableau de bord</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <p>
        {{vm.score.nameScore}}
        {{vm.score.tempoScore}}
        Niveau
        {{vm.score.levelScore}}
        {{vm.score.wordingScore}}
    </p>
</div>

<div class="row">
    <form class="form-horizontal ">
        <div class="row">
            <div class="form-group col-md-12">
                <input id="textinput" ng-model='vm.name' name="textinput" placeholder="{{vm.score.nameScore}}" class="form-control input-md" type="text">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <select id="selectLevel" ng-model='vm.level' name="selectbasic" class="form-control">
                    <option value="" disabled>NIVEAU DE L'EXERCICE</option>
                    <option value="1">Facile</option>
                    <option value="2">Intermédiaire</option>
                    <option value="3">Expert</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input ng-model='vm.tempo' name="textinput" placeholder="{{vm.score.tempoScore}}" class="form-control input-md" type="text">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <textarea id="textarea" class="form-control" ng-model='vm.wording' name="textarea" placeholder="{{vm.score.wordingScore}}"></textarea>
            </div>
        </div>
        <button ng-click='vm.editScore()' class="btn btn-default col-md-2 col-md-offset-5">Editer l'exercice</button>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="bloc4 col-md-12">
            <div class="row">
                <div class="star col-md-12">
                    <img class="imgacacher" src="./assets/img/elementsPartitions/0/cleDeSol.png"/>
                    <div class="noteDisplay">
                        <div class="donotChiffrage">
                            <select class="form-control" ng-model="vm.chiffrage">
                                <option value="4x4">4/4</option>
                                <option value="3x4">3/4</option>
                            </select>
                            <button class="btn-primary" ng-click="vm.addChiffrage()" type="submit">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                Chiffrage</button>
                        </div>
                        <img class="imgacacher" src="./assets/img/elementsPartitions/0/{{vm.numBeatBar}}x{{vm.referenceValueBar}}.png"/>
                    </div>
                    <span ng-repeat="note in vm.noteCURRENT | orderBy:'orderNote'">
                        <div class="noteDisplay">
                            <div class="donot">
                                <div class="row">
                                    <div class="col-md-5">
                                        <a href="" ng-click="vm.deleteNote(note._id)" id="delNote">
                                            <img width="30px" src="./assets/img/elementsPages/trashNote.png" alt="buttonCancel">
                                        </a>
                                    </div>
                                    <div class="col-md-5">
                                        <a href="" ng-click="vm.addNote(note._id)" id="addNote">
                                            <img width="30px" src="./assets/img/elementsPages/addNote.png" alt="buttonAdd">
                                        </a>
                                    </div>
                                </div>
                                <select class="form-control" ng-model="note.valueNote" ng-change='vm.editNote(note)'>
                                    <option value="">Valeur</option>
                                    <option value="4">Ronde</option>
                                    <option value="2">Blanche</option>
                                    <option value="1">Noire</option>
                                    <option value="0.5">Croche</option>
                                    <option value="0.25">Double Croche</option>
                                    <option value="1.0">Triolet</option>
                                    <option value="23">Bémol</option>
                                    <option value="24">Dièses</option>
                                    <option value="19">Armures bémols</option>
                                    <option value="20">Armures dièses</option>
                                    <option value="26">Points</option>
                                    <option value="25">Barre</option>
                                </select>
                                <select class="form-control" ng-model="note.heigthNote" ng-change='vm.editNote(note)'>
                                    <option value="">Hauteur</option>
                                    <option value="do1">do1</option>
                                    <option value="do2">do2</option>
                                    <option value="do3">do3</option>
                                    <option value="re1">re1</option>
                                    <option value="re2">re2</option>
                                    <option value="mi1">mi1</option>
                                    <option value="mi2">mi2</option>
                                    <option value="fa1">fa1</option>
                                    <option value="fa2">fa2</option>
                                    <option value="sol1">sol1</option>
                                    <option value="sol2">sol2</option>
                                    <option value="sol3">sol3</option>
                                    <option value="la1">la1</option>
                                    <option value="la2">la2</option>
                                    <option value="la3">la3</option>
                                    <option value="si1">si1</option>
                                    <option value="si2">si2</option>
                                    <option value="si3">si3</option>
                                    <option value="pause">Pause</option>
                                    <option value="demiPause">Demi-pause</option>
                                    <option value="soupir">Silence</option>
                                    <option value="demiSoupir">Demi-soupir</option>
                                    <option value="quartDeSoupir">Quart-de-soupir</option>
                                    <option value="barreDeMesure">Barre de mesure</option>
                                    <option value="barreDeFinMesure">Barre de fin</option>
                                    <option value="si">armure siB</option>
                                    <option value="simi">armure siMiB</option>
                                    <option value="simila">armure siMiLaB</option>
                                    <option value="similare">armure siMiLaReB</option>
                                    <option value="similaresol">armure siMiLaReSolB</option>
                                    <option value="similaresoldo">armure siMiLaReSolDoB</option>
                                    <option value="similaresoldofa">armure siMiLaReSolDoFaB</option>
                                    <option value="fa">armure fa#</option>
                                    <option value="fado">armure faDo#</option>
                                    <option value="fadosol">armure faDoSol#</option>
                                    <option value="fadosolre">armure faDoSolRe#</option>
                                    <option value="fadosolrela">armure faDoSolReLa#</option>
                                    <option value="fadosolrelami">armure faDoSolReLaMi#</option>
                                    <option value="fadosolrelamisi">armure faDoSolReLaMiSi#</option>
                                </select>
                            </div>
                            <img class="imgacacher" alt="{{note.valueNote}}" src="./assets/img/elementsPartitions/{{note.valueNote}}/{{note.heigthNote}}.png"/>
                        </div>
                    </span>
                </div>
                <img alt="{{note.valueNote}}" src="./assets/img/elementsPartitions/{{note.valueNote}}/{{note.heigthNote}}.png"/>
            </div>
        </div>
    </div>
</div>
