<div class="container">
    <div class="bloc1">
        <div class="row">
            <div class="col-lg-5">
                <a href="#!/dashboard">
                    <button type="button" class="btn btn-default retourDashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Tableau de bord</button>
                </a>
            </div>
            <div class="col-lg-2">
                <img src="./assets/img/elementsPages/ourson.png" alt="ourson"/>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-default" ng-click="vm.verificationdelapartition()">Edition l'exercice</button>
<div class="container">
    <div class="row">
        <div class="bloc4 col-md-12">
            <div class="row">
                <div class="star col-md-12">
                    <img class="imgacacher" src="./assets/img/elementsPartitions/21/cleDeSol.png"/>
                    <div class="noteDisplay">
                        <div class="donot">
                            <select class="form-control" ng-model="vm.chiffrage">
                                <option value="4x4">4/4</option>
                                <option value="3x4">3/4</option>
                            </select>
                            <button class="btn-primary" ng-click="vm.addChiffrage()" type="submit">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                Chiffrage</button>
                        </div>
                        <img class="imgacacher" src="./assets/img/elementsPartitions/22/{{vm.numBitBar}}x{{vm.referenceValueBar}}.png"/>
                    </div>
                    <span ng-repeat="note in vm.noteCURRENT | orderBy:'orderNote'">
                        <div class="noteDisplay">
                            <div class="donot">
                                <div class="row">
                                    <div class="col-md-5">
                                        <!-- <a href="" ng-click="vm.deleteNote(note._id)" id="delNote">
                                            <img width="38%" src="./assets/img/elementsPages/cancel.svg" alt="buttonCancel">
                                        </a> -->
                                        <a href="" ng-click="vm.deleteNote(note._id)" id="delNote">
                                            <img width="38%" src="./assets/img/elementsPages/trashNote.png" alt="buttonCancel">
                                        </a>
                                    </div>
                                    <div class="col-md-5">
                                  <!-- <a href="" ng-click="vm.addNote(note._id)">
                                  <img width="45%" src="./assets/img/elementsPages/add.svg" alt="buttonAdd" id="addNote">
                                  </a> -->
                                        <a href="" ng-click="vm.addNote(note._id)" id="addNote">
                                            <img width="38%" src="./assets/img/elementsPages/addNote.png" alt="buttonAdd">
                                        </a>
                                    </div>
                                </div>
                                <select class="form-control" ng-model="vm.noteValue">
                                    <option value="">Valeur</option>
                                    <option value="4">Ronde</option>
                                    <option value="2">Blanche</option>
                                    <option value="1">Noire</option>
                                    <option value="0.5">Croche</option>
                                    <option value="0.25">Double Croche</option>
                                    <option value="1.0">Triolet</option>
                                    <option value="23">Bémol</option>
                                    <option value="24">Dièses</option>
                                    <option value="19">Armures bémols</option>
                                    <option value="20">Armures dièses</option>
                                    <option value="26">Points</option>
                                    <option value="25">Barre</option>
                                </select>
                                <select class="form-control" ng-model="vm.noteHeigth">
                                    <option value="">Hauteur</option>
                                    <option value="do1">do1</option>
                                    <option value="do2">do2</option>
                                    <option value="do3">do3</option>
                                    <option value="re1">re1</option>
                                    <option value="re2">re2</option>
                                    <option value="mi1">mi1</option>
                                    <option value="mi2">mi2</option>
                                    <option value="fa1">fa1</option>
                                    <option value="fa2">fa2</option>
                                    <option value="sol1">sol1</option>
                                    <option value="sol2">sol2</option>
                                    <option value="sol3">sol3</option>
                                    <option value="la1">la1</option>
                                    <option value="la2">la2</option>
                                    <option value="la3">la3</option>
                                    <option value="si1">si1</option>
                                    <option value="si2">si2</option>
                                    <option value="si3">si3</option>
                                    <option value="pause">Pause</option>
                                    <option value="demiPause">Demi-pause</option>
                                    <option value="soupir">Silence</option>
                                    <option value="demiSoupir">Demi-soupir</option>
                                    <option value="quartDeSoupir">Quart-de-soupir</option>
                                    <option value="barreDeMesure">Barre de mesure</option>
                                    <option value="barreDeFinMesure">Barre de fin</option>
                                    <option value="si">armure siB</option>
                                    <option value="simi">armure siMiB</option>
                                    <option value="simila">armure siMiLaB</option>
                                    <option value="similare">armure siMiLaReB</option>
                                    <option value="similaresol">armure siMiLaReSolB</option>
                                    <option value="similaresoldo">armure siMiLaReSolDoB</option>
                                    <option value="similaresoldofa">armure siMiLaReSolDoFaB</option>
                                    <option value="fa">armure fa#</option>
                                    <option value="fado">armure faDo#</option>
                                    <option value="fadosol">armure faDoSol#</option>
                                    <option value="fadosolre">armure faDoSolRe#</option>
                                    <option value="fadosolrela">armure faDoSolReLa#</option>
                                    <option value="fadosolrelami">armure faDoSolReLaMi#</option>
                                    <option value="fadosolrelamisi">armure faDoSolReLaMiSi#</option>

                                </select>
                                <button ng-click="vm.editNote(note._id)" class="btn btn-primary" style="background-color : green" type="button" name="button">Modifier la note</button>
                            </div>
                            <img class="imgacacher" alt="{{note.valueNote}}" src="./assets/img/elementsPartitions/{{note.valueNote}}/{{note.heigthNote}}.png"/>
                        </div>
                    </span>
                </div>
                <img alt="{{note.valueNote}}" src="./assets/img/elementsPartitions/{{note.valueNote}}/{{note.heigthNote}}.png"/>
            </div>
        </div>
    </div>
</div>
