<div class="container">
    <div class="bloc1">
        <div class="row">
            <div class="col-md-5">
                <a href="#!/dashboard">
                    <button type="button" class="btn btn-default retourDashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Tableau de bord</button>
                </a>
            </div>
            <div class="col-md-2">
                <img src="./assets/img/elementsPages/ourson.png" alt="ourson"/>
            </div>
        </div>
    </div>
    <div class="bloc2">
        <div class="row">
            <div class="col-md-5 col-md-offset-6 paragrapheOurson">
                <h2>Pierre</h2>
                <p>
                    Selectionne un exercice dans la liste.<br>
                    Clique sur "supprimer" et celui-ci sera effacé de l'application.
                </p>
            </div>
        </div>
    </div>
    <div class="container bloc3delete col-md-6 col-md-offset-3">
        <div class="formulaire col-md-7 col-md-offset-5">
          <form class="form-horizontal col-md-10 col-md-offset-1">
                <h6>Sélectionne un exercice</h6>
                <div class="select">
                        <select class="form-control" ng-model='vm.idDelete'>
                            <option ng-repeat="score in vm.scores" ng-value='score._id'>{{score.nameScore}}</option>
                        </select>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 ">
                        <button ng-click='vm.scoreDelete(vm.idDelete)' type="submit" class="btn btn-default">Supprimer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
