<div class="container">
    <div class="bloc1">
        <div class="row">
            <div class="col-lg-5">
                <a href="#/dashboard">
                    <button type="button" class="btn btn-default retourDashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Tableau de bord</button>
                </a>
            </div>
            <div class="col-lg-2">
                <img src="../assets/img/elementsPages/ourson.png" alt="ourson"/>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-default" ng-click="vm.verificationdelapartition()">Edition l'exercice</button>
<div class="container">
    <div class="row">
        <div class="bloc4 col-md-12">
            <div class="row">
                <div class="star col-md-12">
                    <img src="../assets/img/elementsPartitions/cles/cleDeSol.png"/>
                    <div class="select">
                        <select class="form-control" ng-model="vm.chiffrage">
                            <option ng-value="">4/4</option>
                            <option ng-value="">3/4</option>
                        </select>
                    </div>
                    <!-- <span ng-repeat="note in "></span> -->
                </div>
            </div>
        </div>
    </div>
</div>
