<div class="container-fluid">
    <div class="metronome">
      <div class="checkbox">
      </div>
        <img class="fullBody" src="./assets/img/elementsPages/fullBody.png">
        <img id="wand" src="./assets/img/elementsPages/wand.png">
        <label><input ng-model="vm.metronomeSwitch" type="checkbox" ng-change='vm.metronome()'></label>
    </div>
    <div class="bloc1">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-5">
                <img src="./assets/img/elementsPages/ourson.png" alt="ourson" />
                <div id="flash"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-5">
                <a href="#!/list/exercices">
                    <button style="margin-left:-50px" type="button" class="btn btn-default retourDashboard">
                          <span class="glyphicon glyphicon-music"></span>
                          Liste des exercices</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 bloc3user">
            <br>
            <div class="titleExercise">
                <h1>{{vm.score.nameScore}}</h1>
            </div>
            <br>
            <div class="titleTrack">
                <p>{{vm.score.wordingScore}}</p> <br>
                <h6>Tempo : {{vm.score.tempoScore}}</h6>

            </div>
        </div>
    </div>
    <div class="text-center playBtn">
        <button ng-click="vm.play()" type="button" class="btn btn-lg" ng-class='vm.isPlaying ? vm.beatAtStart>0 ? "btn-success" : "btn-danger" : "btn-primary"'>
            <span class='glyphicon glyphicon-play'></span>&nbsp;{{vm.isPlaying ? vm.beatAtStart>0 ? "Départ dans " + vm.beatAtStart + ' pulse' + (vm.beatAtStart>1?"s":"") : "Lecture en cours..." : "Lecture"}}</button>
    </div>

    <div class="container">
        <div class="row">
            <div class="bloc4 col-xs-12">
                <div class="row">
                    <img class="redBar" src="assets/img/elementsPartitions/redBar1.jpg" alt="" ng-click='vm.pulseControl()' />
                    <div class="star col-xs-12">
                        <img class="imgacacher" src="assets/img/elementsPartitions/0/cleDeSol.png" />
                        <div class="noteDisplay">
                            <img src="assets/img/elementsPartitions/0/{{vm.numBeatBar}}x{{vm.referenceValueBar}}.png" />
                        </div>
                        <span ng-repeat="note in vm.noteCURRENT | orderBy:'orderNote'">
                            <div class="noteDisplay"><img alt="{{note.valueNote}}" src="assets/img/elementsPartitions/{{note.valueNote}}/{{note.heigthNote}}.png" width='{{note.valueNote < 5 ? 140*note.valueNote : ""}}' height='{{note.valueNote < 5 ? 300 : ""}}' ng-click='vm.wrongNote()'/></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Win-->
    <div class="modal fade" id="myModalWin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel1">Bravo, exercice correctement effectué !</h5>
                </div>
                <div class="modal-body">
                    <img src="./assets/img/elementsPages/ourson.png" alt="panda" />
                    <p> Aucune faute dans cet exercice !</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal LOose-->
    <div class="modal fade" id="myModalLoose" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel2">Dommage, essaye encore !</h5>
                </div>
                <div class="modal-body">
                    <img src="./assets/img/elementsPages/ourson.png" alt="panda" />
                    <p>Tu as fait {{vm.errors}} faute(s) dans cet exercice.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div style='margin-top:calc(100vh - 300px);'>

</div>
