<div class="container">
    <div class="bloc1">
        <div class="row">
            <div class="col-md-5">
                <a href="#!/list/exercices">
                    <button type="button" class="btn btn-default retourDashboard">
                    <span class="glyphicon glyphicon-home"></span>
                    Liste des Exercices</button>
                </a>
            </div>
            <div class="col-md-2">
                <img src="./assets/img/elementsPages/ourson.png" alt="ourson" />
            </div>
        </div>
    </div>
    <div class="col-md-12 bloc3user">
        <div class="row">
            <div class="col-md-4 titleExercise">
                <h1>{{vm.score.nameScore}}</h1>
            </div>
            <div class="col-md-8 titleTrack">
                <h2>{{vm.score.wordingScore}}</h2>
            </div>
        </div>
    </div>
    <div class="buttonPlaying">
        <button ng-click="vm.play()" type="button" class=" btn btn-primary glyphicon glyphicon-play">Lecture</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="bloc4 col-md-12">
                <div class="row">
                    <div class="star col-md-12">
                        <img class="imgacacher" src="../assets/img/elementsPartitions/21/cleDeSol.png" />
                        <div class="noteDisplay">
                            <img src="../assets/img/elementsPartitions/22/{{vm.numBitBar}}x{{vm.referenceValueBar}}.png" />
                        </div>
                        <span ng-repeat="note in vm.noteCURRENT | orderBy:'note.orderNote'">
                          <div class="noteDisplay">
                      </span>
                    </div>
                    <img alt="{{note.valueNote}}" src="../assets/img/elementsPartitions/{{note.valueNote}}/{{note.heigthNote}}.png" />
                </div>
            </div>
        </div>
    </div>
</div>
