<div class="container">
    <div class="bloc1">
        <div class="row">
          <div class="col-lg-5">
            <a href="#!/list/exercices">
                <button type="button" class="btn btn-default retourDashboard">
                    <span class="glyphicon glyphicon-home"></span>
                    Liste des Exercices</button>
            </a>
          </div>
            <div class="col-lg-2">
                <img src="./assets/img/elementsPages/ourson.png" alt="ourson"/>
            </div>
        </div>
    </div>
    <div class="bloc2user col-lg-4 col-lg-offset-4">
        <div class="row">
            <div class="col-lg-11 paragrapheOursonUser">
                <h1>Pierre</h1>
                <p>{{vm.score.wordingScore}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 bloc3user">
        <div class="row">
            <div class="col-lg-4 titleExercise">
                <h1>Exercice 1</h1>
            </div>
            <div class="col-lg-4 titleTrack">
                <h2>{{vm.score.nameScore}}</h2>
            </div>
            <div class="col-lg-4 options">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Affichage des notes
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Nom des notes
                                </label>
                            </div>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Symbole des notes
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="buttonPlaying">
          <button type="button" class=" btn btn-primary glyphicon glyphicon-play btnPlay">Lecture</button>
        </div>
          <div class="container">
              <div class="row">
                  <div class="bloc4 col-md-12">
                      <div class="row">
                          <div class="star col-md-12">
                              <img class="imgacacher" src="../assets/img/elementsPartitions/21/cleDeSol.png"/>
                              <div class="noteDisplay">
                                  <div class="donot">
                                      <select class="form-control" ng-model="vm.chiffrage">
                                          <option value="4x4">4/4</option>
                                          <option value="3x4">3/4</option>
                                      </select>
                                      <button class="btn-primary" ng-click="vm.addChiffrage()" type="submit">
                                          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                          Chiffrage</button>
                                  </div>
                                  <img class="imgacacher" src="../assets/img/elementsPartitions/22/{{vm.numBitBar}}x{{vm.referenceValueBar}}.png" />
                              </div>
                              <span ng-repeat="note in vm.noteCURRENT | orderBy:'note.orderNote'">
                                  <div class="noteDisplay">
                              </span>
                          </div>
                          <img class="note" alt="{{note.valueNote}}" src="../assets/img/elementsPartitions/{{note.valueNote}}/{{note.heigthNote}}.png"/>
                      </div>
                  </div>
              </div>
          </div>

        </div>
        <div class="metronome">
            <img src="./assets/img/elementsPages/metronome.png" alt="">
            <input type="checkbox">
        </div>
</div>
