<div class="container listExercices">
    <div class="row">
        <div class="bloc1">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <img src="../assets/img/elementsPages/ourson.png" alt="ourson"/>
                </div>
            </div>
        </div>
        <div class="bloc2">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-6 paragrapheOurson">
                    <h2>Bonjour Johanne</h2>
                    <p>
                        Choisis dans la liste un exercice et commence ton entrainement.
                    </p>
                </div>
            </div>
        </div>
        <div class="bloc3-exo" ng-controller="scoreController as vm">
            <div class="col-lg-10 col-lg-offset-1 paragrapheOurson">
                <h2>Mes exercices</h2>
                <div class="row" ng-repeat="score in vm">
                    <div class="col-lg-2 col-lg-offset-1">
                        {{levelPicture}}
                    </div>
                    <div class="col-lg-6">
                        <p>{{nameScore}}</p>
                    </div>
                    <div class="col-lg-2">
                        <p>{{levelScore}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
