<div class="container listExercices">
    <div class="row">
        <div class="bloc2">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-6 paragrapheOurson">
                    <h2>Bonjour Johanne</h2>
                    <p>
                        Choisis dans la liste un exercice et commence ton entrainement.
                    </p>
                </div>
            </div>
        </div>
        <div class="bloc3-exo">
            <div class="col-lg-10 col-lg-offset-1 paragrapheOurson">
                <h2>Mes exercices</h2>
                <div class="row" ng-repeat="score in vm.scores | orderBy:'levelScore'">
                    <div class="col-lg-2 col-lg-offset-1">
                        {{score.levelScore == 1 ? "Facile" : score.levelScore == 2 ? "Intermédiare" : "Difficile"}}
                    </div>
                    <div class="col-lg-6">
                      <button ng-click="vm.choiceExercice(score._id)" class="btn btn-link" type="button" name="button">{{score.nameScore}}</button>
                    </div>
                    <div class="col-lg-2">
                      <img width="25%" src="./assets/img/elementsPages/{{score.levelScore == 1 ? 'easy' : score.levelScore == 2 ? 'medium' : 'hard'}}.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
